<% if comment.user.owned_games.include?(comment.game) %>
  <div class="owner-comment">
    Comment By Game Owner:<br>
    <%= comment.body %>
    <br>
    <%= link_to "#{comment.user.username}", comment.user %>
    <%= comment.created_at %>
  </div>
<% else %>
  <div class="normal-comment">
    <%= comment.body %>
    <br>
    <%= link_to "#{comment.user.username}", comment.user %>
    <%= comment.created_at %>
  </div>
<% end %>

<% if current_user && current_user.is_admin %>
  <%= link_to 'Destroy', [comment.game, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
