<div class="container">
  <% if current_user == @user %>
    <h1> Welcome back <%= @user.username %>! </h1>
  <% else %>
    <h1>Welcome to <%= @user.username %> homepage!</h1>
  <% end %>

  <div class="owned-games">
    <h3><%= @user.name %> owns these games:</h3>

    <% if @games.empty? && current_user == @user %>
      It looks like you have no games in your library. Maybe you should
      <%= link_to "add some.", games_path %>
    <% end %>
    <% @games.each do |game| %>
      <li>
        <%= link_to "#{game.name}", game %>
        <%= form_for game, url: user_game_path, method: 'delete' do |f| %>
          <%=hidden_field_tag 'game_id', game.id %>
          <%=f.submit "Remove owned game"%>
        <% end %>
      </li>
    <% end %>
  </div>

  <div class="user-comments">
    <h3><%= @user.name %> has made these comments:</h3>
    <% @comments.each do |comment| %>
      <li>
        <%= link_to "#{comment.game.name}", comment.game %>
        <br>
        <%= comment.body %>
        <br><br>
      </li>
    <% end %>
  </div>

  <div class="user-ratings">
    <h3><%= @user.name %> has rated these games:</h3>
    <% @ratings.each do |rating| %>
      <li>
        <%= link_to "#{rating.game.name}", rating.game %> - <%= rating.score %> out of 5
        <br><br>
      </li>
    <% end %>
  </div>

</div>
