<div class="container">
  <ul>
    <% @games.each do |game| %>
      <li><%= render partial: 'game', locals: {game: game} %>
        <% if game.owners.include?(current_user) %>
          <% game.owners.each do |owner| %>
              <%= owner.name %>
          <% end %>
          <%= "CURRENT USER" %>
          <%= current_user.name %>
          <%= form_for game, url: user_games_path, method: "post" do |f| %>
            <%=hidden_field_tag 'game_id', game.id %>
            <%=f.submit "Add game to library"%>
          <% end %>
        <% else %>
          <%= form_for game, url: user_game_path, method: 'delete' do |f| %>
            <%=hidden_field_tag 'game_id', game.id %>
            <%=f.submit "Remove owned game"%>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
