<div class="container">

  <div class="letter-prefixes">
    <h1>Find Game By Letter:</h1>
    <% @prefixes.each do |letter| %>
      <%= link_to letter, games_path(letter: "#{letter}%"), class: 'letter-link' %>
    <% end %> 
  </div>

  <div class="tags">
    <h4>Or, browse by <%= link_to "Genre/Mechanic", tags_path %></h4>
  </div>

  <div class="games">
    <% if params[:letter] %>
      <h2>Games beginning with <%= params[:letter][0] %>:</h2>
    <% else %>
      <h2>Top Rated Games:</h2>
    <% end %>
    <table>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Comments</th>
        <th></th>
      </tr>
      <% @games.each do |game| %>
        <tr><%= render partial: 'game', locals: {game: game} %>
        </tr>
      <% end %>
    </table>
  </div>

  <% if params[:letter] %>
    <div class="pagination"> 
      <%= link_to "Top Ten Games", games_path, class: "nav-link" %>
      <%= paginate @games %>
    </div>
  <% end %>
</div>