<div class="container">
  <div class="game-info">
    <h1><%= @game.name %></h1>
    <div class="info-card">
      <table>
        <tr>
          <td>Avg. Rating:</td>
        <% if @game.ratings.any? %>
          <td><%= @game.average_rating %>/5 (<%= @game.ratings.count %> votes)</td>
        <% else %>
          <td>Not yet rated</td>
        <% end %>
        </tr>
        <tr>
          <td>Num. Players:</td>
          <td><%= @game.min_number_of_players %> - <%= @game.max_number_of_players %></td>
        </tr>
        <tr>
          <td>Duration:</td>
          <td><%= @game.min_duration_of_game %> - <%= @game.max_duration_of_game %> minutes</td>
        </tr>
        <tr>
        <td>Genres:</td>
          <td>
            <% @tags.each do |tag| %>
              <%= link_to "#{tag.name}", tag_path(tag) if tag.category == "genre" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Mechanics:</td>
          <td>
            <% @tags.each do |tag| %>
              <%= link_to "#{tag.name}", tag_path(tag) if tag.category == "mechanic" %>
            <% end %>
          </td>
        </tr> 
      </table>
    </div>
    <div class="description">
      <h3>Description:</h3>
      <p><%= @game.description %></p>
    </div>
  </div>

  <div class="rate-game">
    <%= render partial: 'ratings/form', locals: { user: @user, game: @game, rating: @rating } %>
    <%= image_tag 'stars.png' %>
  </div>

  <div class="add-or-remove-button">
    <% if @owned_game.user == nil %>
      <%= form_for @owned_game, url: user_games_path do |f| %>
        <%=hidden_field_tag 'game_id', @game.id %>
        <%=f.submit "Add Game To My Library"%>
      <% end %>
    <% else %>
      <%= form_for @owned_game, url: user_game_path, method: 'delete' do |f| %>
        <%=hidden_field_tag 'game_id', @game.id %>
        <%=f.submit "Remove From My Library"%>
      <% end %>
    <% end %>
  </div>

  <div class="comments">

    <h3>Join the discussion!</h3>

    <div class="comment-form">
      <%= render partial: 'comments/form', locals: {user: current_user, game: @game, comment: @comment} %>
    </div>

    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment} %>
    <% end %>
  </div>
</div>
